<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <!-- Navigation -->
  <header class="navbar">
    <h2>My Portfolio</h2>
    <ul>
      <li><a href="#About">{{ 'nav.about' | translate }}</a></li>
      <li><a href="#Projects">{{ 'nav.projects' | translate }}</a></li>
      <li><a href="#Languages">{{ 'nav.interests' | translate }}</a></li>
      <li><a href="#Contact">{{ 'nav.contact' | translate }}</a></li>

      <button class="language-buttons" (click)="switchLanguage('de')">DE</button>
      <button class="language-buttons" (click)="switchLanguage('en')">EN</button>
    </ul>
  </header>

  <!-- Navigation -->
  <!--<header class="navbar">
    <h2>My Portfolio</h2>
    <ul>
      <li><a href="#About">{{ 'nav.about' | translate }}</a></li>
      <li><a href="#Projects">{{ 'nav.projects' | translate }}</a></li>
      <li><a href="#Languages">{{ 'nav.interests' | translate }}</a></li>
      <li><a href="#Contact">{{ 'nav.contact' | translate }}</a></li>

      <button class="language-buttons" (click)="switchLanguage('de')">DE</button>
      <button class="language-buttons" (click)="switchLanguage('en')">EN</button>
    </ul>
  </header>-->
  <!-- Introduction Landing page -->
  <section></section>
  <section class="hero">
    <div class="hero-text">
      <h1>&lt;/Code, Create, Innovate&gt;</h1>

      <h1>{{ 'hero.subtitle' | translate }}</h1>
      <p [innerHTML]="'hero.description' | translate"></p>
      <a href="#About">{{ 'hero.button' | translate }}</a>
    </div>
    <div class="profile-picture"></div>
  </section>

  <!-- About me -->
  <section id="About" class="about">
    <div class="about-container">
      <h1 class="title">{{ 'about.title' | translate }}</h1>
      <div class="content-div">
        <div class="profile-image"></div>
        <div class="text">
          <p>{{ 'about.paragraph1' | translate }}</p>
          <p>{{ 'about.paragraph2' | translate }}</p>
          <p [innerHTML]="safeContent"></p>
          <p [innerHTML]="'about.paragraph4' | translate"></p>
          <p>{{ 'about.paragraph5' | translate }}</p>
          <a href="#Projects" class="button-aboutprojects">{{ 'about.button' | translate }}</a>
        </div>
      </div>
    </div>
  </section>

  <!-- About my projects -->
  <section id="Projects" class="projects">
    <div class="projects-container">
      <h1 class="title">{{ 'projects.title' | translate }}</h1>
      <div class="projects-grid">

        <div class="project-card">
          <h2>{{ 'projects.space_invaders.title' | translate }}</h2>
          <div id="spaceShooterpic"></div>
          <p>{{ 'projects.space_invaders.description' | translate }}</p>
        </div>

        <div class="project-card">
          <h2>{{ 'projects.unity_snake.title' | translate }}</h2>
          <div id="snakeUnity"></div>
          <p>{{ 'projects.unity_snake.description' | translate }}</p>
        </div>

        <div class="project-card">
          <h2 [innerHTML]="'projects.multi_calculator.title' | translate "></h2>
          <div id="sacalc_functionview"></div>
          <p>{{ 'projects.multi_calculator.description' | translate }}</p>
        </div>

        <div class="project-card">
          <h2 [innerHTML]="'projects.tinder_mockup.title' | translate "></h2>
          <div id="tindermockup"></div>
          <p>{{ 'projects.tinder_mockup.description' | translate }}</p>
        </div>

        <div class="project-card">
          <h2>{{ 'projects.all_projects.title' | translate }}</h2>
          <p>{{ 'projects.all_projects.description' | translate }}</p>
          <a href="https://github.com/YoelArcos?tab=repositories" target="_blank" class="button">{{ 'projects.github_button' | translate }}</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Programming Languages Section -->
  <section id="Languages" class="languages">
    <div class="languages-container">
      <h1 class="title">{{ 'languages.title' | translate }}</h1>
      <div class="languages-grid">

        <div class="language-card html"></div>

        <div class="language-card css"></div>

        <div class="language-card javascript"></div>

        <div class="language-card csharp"></div>

        <div class="language-card java"></div>

        <div class="language-card react"></div>

      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="Contact" class="contact">
    <div class="contact-container">
      <h1 class="title">{{ 'contact.title' | translate }}</h1>
      <div class="content">
        <div class="contact-text">
          <p>{{ 'contact.description1' | translate }}</p>
          <p>{{ 'contact.description2' | translate }}</p>
          <a href="mailto:yoel.arcoslopez@hotmail.com" class="email-link">yoel.arcoslopez&commat;hotmail.com</a>
        </div>
        <form action="https://formspree.io/f/xjkkkwrp" method="POST" class="contact-form">
          <input type="text" name="name" placeholder="{{ 'contact.form_name' | translate }}" required />
          <input type="email" name="email" placeholder="{{ 'contact.form_email' | translate }}" required />
          <textarea name="message" placeholder="{{ 'contact.form_message' | translate }}" rows="5" required></textarea>
          <button type="submit" class="button">{{ 'contact.email_button' | translate }}</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>{{ 'footer.text' | translate }}</p>
  </footer>
</body>
</html>
